/* Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color:transparent;  
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 100;
}

.logo img {
    height: 200px;  /* Large logo */
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1); /* Subtle zoom effect on hover for the logo */
}

.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navLinks li {
    margin-left: 30px;  /* Space between the links */
}

.navLinks a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navLinks a:hover {
    color: #ff6347; /* Highlight color for links on hover */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .navLinks {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .navLinks li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
