.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3; 
    
}

.logo img {
    height: 150px; 
    width: auto; 
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 40px; 
}

.navLinks li a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: #88e1f2; 
}

.authButtons {
    display: flex;
    gap: 20px; 
}

.signUp, .login {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signUp {
    background-color: white;
    color: black;
}

.signUp:hover {
    background-color: #f0f0f0; 
}

.login {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.login:hover {
    background-color: white;
    color: black;
}
