


/* Global Settings */
.container {
    font-family: 'Poppins', sans-serif;
    color: #f4f4f9;
    background-color: #1b1b32;
}


/* Footer */
/* .footer {
    padding: 20px;
    background-color: #222;
    color: #ffffff;
    text-align: center;
    font-size: 0.9em;
}

.footerLinks {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footerLinks a {
    color: #ff7b54;
    text-decoration: none;
    transition: color 0.3s;
}

.footerLinks a:hover {
    color: #ff5722;
}

/* Social Icons */
/* 
.socialIcons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

.socialIcons a {
    color: #ffffff;
    font-size: 1.3em;
    transition: color 0.3s;
}

.socialIcons a:hover {
    color: #ff7b54;
} */

/* Responsive Styles */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    .collectionItem {
        width: 160px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    .searchBar input {
        width: 100%;
    }

    .heroButtons {
        flex-direction: column;
    }

    .heroButtons button, .searchBar button {
        width: 100%;
    }

    .newsletterForm input, .newsletterForm button {
        width: 100%;
    }
}

