/* Global Settings */
.Container {
    font-family: 'Poppins', sans-serif;
    color: #f4f4f9;
    background-color: white;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}